$color-primary: #fcf3e2 !global;
$color-secondary: #ff1151 !global;
$color-tertiary: #94d568 !global;

$font-lg: 30pt;
$font-md: 17pt;
$font-sm: 10pt;

@mixin padding($pad) {
  margin: $pad;
  padding: $pad;
}

@mixin hover($duur1, $duur2, $moz1, $moz2) {
  transition-duration: $duur1;
  transition-delay: $duur2;
  -moz-transition-delay: $moz1;
  -moz-transition-duration: $moz2;
}


.nav {
  background-color: $color-primary;
  @include padding(5px);
  ul {
    list-style-type: none;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: $color-tertiary;
      }
    }
  }
}

.banner {
  @include padding(3px);
  h1 {
    font-size: $font-lg;
    color: $color-secondary;
    text-align: center;
  }
}

.footer {
  @include padding(3px);
  h3 {
      font-size: $font-md;
      color: $color-tertiary;
      text-align: center;
    &:hover {
      color: #2d8bea;
      @inlude hover(2s, 3s, 3s, 2s)
    }
    }
}




