$color-primary: #fcf3e2 !global;
$color-secondary: #ff1151 !global;
$color-tertiary: #94d568 !global;

$font-lg: 30pt;
$font-md: 17pt;
$font-sm: 10pt;

@mixin padding {
  margin: 3px;
  padding: 3px;
}


.nav {
  background-color: $color-primary;
  @include padding;
  ul {
    list-style-type: none;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: $color-tertiary;
      }
    }
  }
}

.banner {
  @include padding;
  h1 {
    font-size: $font-lg;
    color: $color-secondary;
    text-align: center;
  }
}

.footer {
  @include padding;
  h3 {
      font-size: $font-md;
      color: $color-tertiary;
      text-align: center;
    }
}




